[submodule ".registry"]
	path = .registry
	url = https://github.com/massbays-tech/universe
	shallow = true
	branch = HEAD
[submodule "MassWateR"]
	path = MassWateR
	url = https://github.com/massbays-tech/MassWateR
	shallow = true
	registered = true
